<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <header>
      <div class="conteiner-menu">
        <nav class="header-nav">
          <ul>
            <li><a href="../index2.html">Inicio</a></li>
            <li><a href="../pages/prestadores.html">Prestadores</a></li>
            <li><a href="../pages/planes.html">Planes</a></li>
            <li><a href="../pages/calculadora.html">Calculadora</a></li>
          </ul>
        </nav>
      </div>
    </header>
  </body>
</html>
